/********** Template CSS **********/
:root {
    --primary: #F3525A;
    --secondary: #F6F6F6;
    --light: #FFFFFF;
    --dark: #152440;
}

h1,
h2,
.font-weight-bold {
    font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
    font-weight: 500 !important;
}

.pt-6 {
    padding-top: 90px;
}

.pb-6 {
    padding-bottom: 90px;
}

.py-6 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.btn {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.top-shape::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 100%;
    top: 0;
    left: -17px;
    background: var(--primary);
    transform: skew(40deg);
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Barlow', sans-serif;
    padding: 35px 15px;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--dark);
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 15px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

.carousel-caption {
    top: -100px;
    left: 0;
    right: 30rem;
    bottom: 0;
    /* background: rgba(132, 169, 236, 0.7); */
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 14px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

.service-item {
    position: relative;
    overflow: hidden;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.service-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 50px;
    bottom: -50px;
    left: 0;
    background: var(--light);
    border-radius: 100% 100% 0 0;
    box-shadow: 0px -10px 5px #EEEEEE;
    transition: .5s;
}

.service-item:hover::after {
    bottom: -25px;
}

.service-item p {
    transition: .3s;
}

.service-item:hover p {
    margin-bottom: 25px !important;
}

.team-item img {
    transform: scale(1.15);
    margin-left: -30px;
    transition: .5s;
}

.team-item:hover img {
    margin-left: 0;
}

.team-item .team-text {
    left: -100%;
    transition: .5s;
}

.team-item .team-text::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 50%;
    right: -60px;
    margin-top: -30px;
    border: 30px solid;
    border-color: transparent transparent transparent var(--primary);
}

.team-item:hover .team-text {
    left: 0;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
    justify-content: start;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    margin: 0 5px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    font-size: 22px;
    border-radius: 45px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}

.testimonial-carousel .owl-item img {
    width: 90px;
    height: 90px;
}

.blog-item img {
    transition: .5s;
}

.blog-item:hover img {
    transform: scale(1.1);
}




/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
    background: #c90dda;
    padding: 70px 0 60px;
}

.counts .count-box {
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    background: #fff;
}

.counts .count-box i {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    background: #1977cc;
    color: #fff;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
}

.counts .count-box span {
    font-size: 36px;
    display: block;
    font-weight: 600;
    color: #082744;
}

.counts .count-box p {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
    text-align: center;
    border: 1px solid #d5e1ed;
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
  }
  
  .services .icon-box .icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #1977cc;
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transform-style: preserve-3d;
  }
  
  .services .icon-box .icon i {
    color: #fff;
    font-size: 28px;
  }
  
  .services .icon-box .icon::before {
    position: absolute;
    content: "";
    left: -8px;
    top: -8px;
    height: 100%;
    width: 100%;
    background: #badaf7;
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
    transform: translateZ(-1px);
  }
  
  .services .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .services .icon-box h4 a {
    color: #2c4964;
  }
  
  .services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .services .icon-box:hover {
    background: #1977cc;
    border-color: #1977cc;
  }
  
  .services .icon-box:hover .icon {
    background: #fff;
  }
  
  .services .icon-box:hover .icon i {
    color: #1977cc;
  }
  
  .services .icon-box:hover .icon::before {
    background: #3291e6;
  }
  
  .services .icon-box:hover h4 a,
  .services .icon-box:hover p {
    color: #fff;
  }

  /* button */

  .button{
    text-align: center;
    padding: 2%;
    
  }


/*--------------------------------------------------------------
# Recent Blog Posts Section
--------------------------------------------------------------*/
.recent-posts .post-box {
    transition: 0.3s;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .recent-posts .post-box .post-img {
    overflow: hidden;
    position: relative;
  }
  
  .recent-posts .post-box .post-img img {
    transition: 0.5s;
  }
  
  .recent-posts .post-box .meta {
    margin-top: 15px;
  }
  
  .recent-posts .post-box .meta .post-date {
    font-size: 15px;
    font-weight: 400;
    color: var(--color-primary);
  }
  
  .recent-posts .post-box .meta .post-author {
    font-size: 15px;
    font-weight: 400;
    color: var(--color-secondary);
  }
  
  .recent-posts .post-box .post-title {
    font-size: 18px;
    color: var(--color-secondary);
    font-weight: 700;
    margin: 15px 0 0 0;
    position: relative;
    transition: 0.3s;
  }
  
  .recent-posts .post-box p {
    margin: 15px 0 0 0;
    color: rgba(27, 47, 69, 0.7);
  }
  
  .recent-posts .post-box .readmore {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    transition: 0.3s;
    margin-top: 15px;
  }
  
  .recent-posts .post-box .readmore i {
    line-height: 0;
    margin-left: 4px;
    font-size: 18px;
  }
  
  .recent-posts .post-box:hover .post-title {
    color: var(--color-primary);
  }
  
  .recent-posts .post-box:hover .post-img img {
    transform: scale(1.1);
  }


  /* Services start */

  /*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
.features .nav-tabs {
    border: 0;
  }
  
  .features .nav-link {
    border: 0;
    padding: 25px 20px;
    color: var(--color-secondary);
    box-shadow: 5px 5px 25px rgba(var(--color-secondary-rgb), 0.15);
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0s;
    cursor: pointer;
    height: 100%;
  }
  
  .features .nav-link i {
    font-size: 32px;
    line-height: 0;
  }
  
  .features .nav-link h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 0 0;
    color: var(--color-secondary);
  }
  
  .features .nav-link:hover {
    color: var(--color-primary);
  }
  
  .features .nav-link.active {
    transition: 0.3s;
    background: var(--color-secondary) linear-gradient(rgba(var(--color-primary-rgb), 0.95), rgba(var(--color-primary-rgb), 0.6));
    border-color: var(--color-primary);
  }
  
  .features .nav-link.active h4 {
    color: var(--color-white);
  }
  
  .features .nav-link.active i {
    color: var(--color-white) !important;
  }
  
  .features .tab-content {
    margin-top: 30px;
  }
  
  .features .tab-pane.active {
    animation: fadeIn 0.5s ease-out;
  }
  
  .features .tab-pane h3 {
    font-weight: 600;
    font-size: 36px;
    color: var(--color-secondary);
  }
  
  .features .tab-pane ul {
    list-style: none;
    padding: 0;
  }
  
  .features .tab-pane ul li {
    padding-bottom: 10px;
  }
  
  .features .tab-pane ul i {
    font-size: 24px;
    margin-right: 4px;
    color: var(--color-primary);
  }
  
  .features .tab-pane p:last-child {
    margin-bottom: 0;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  /* Services end */

  /* contact section start */


  /*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .map {
    margin-bottom: 40px;
  }
  
  .contact .map iframe {
    border: 0;
    width: 100%;
    height: 400px;
  }
  
  .contact .info {
    padding: 40px;
    box-shadow: 0px 2px 15px rgba(var(--color-black-rgb), 0.1);
    overflow: hidden;
  }
  
  .contact .info h3 {
    font-weight: 600;
    font-size: 24px;
  }
  
  .contact .info p {
    color: var(--color-secondary-light);
    margin-bottom: 30px;
    font-size: 15px;
  }
  
  .contact .info-item+.info-item {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid rgba(var(--color-secondary-rgb), 0.15);
  }
  
  .contact .info-item i {
    font-size: 24px;
    color: var(--color-primary);
    transition: all 0.3s ease-in-out;
    margin-right: 20px;
  }
  
  .contact .info-item h4 {
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--color-secondary);
  }
  
  .contact .info-item p {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: var(--color-secondary-light);
  }
  
  .contact .php-email-form {
    width: 100%;
    background: var(--color-white);
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: var(--color-white);
    background: var(--color-red);
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: var(--color-white);
    background: var(--color-green);
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: var(--color-white);
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid var(--color-green);
    border-top-color: var(--color-white);
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input[type=text],
  .contact .php-email-form input[type=email],
  .contact .php-email-form textarea {
    border-radius: 0px;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .php-email-form input[type=text]:focus,
  .contact .php-email-form input[type=email]:focus,
  .contact .php-email-form textarea:focus {
    border-color: var(--color-secondary-light);
  }
  
  .contact .php-email-form input[type=text],
  .contact .php-email-form input[type=email] {
    height: 48px;
    padding: 10px 15px;
  }
  
  .contact .php-email-form textarea {
    padding: 10px 12px;
    height: 290px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: var(--color-primary);
    border: 0;
    padding: 13px 50px;
    color: var(--color-white);
    transition: 0.4s;
    border-radius: 0;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: rgba(var(--color-primary-rgb), 0.85);
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  /* contact section end */
  